:root {
  --background-body: #ccc;
  --text-main: #048a81;
  --text-secondary: #36393b;
  --primary-color: #2bc016;
}

:root.theme-dark {
  --background-body: #202122;
  --text-main: #fff;
  --text-secondary: #ccc;
  --primary-color: #2bc016;
}

*,
*::before,
*::after {
  box-sizing: border-box;

}

body {
  margin: auto;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--background-body);
  color: var(--text-main);
  width: 100%;
  max-width: 65ch;
  padding: 5rem;
  text-align: left;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 1rem 0;
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.logos-small {
  display: none;
}

/* Page Content */
.page-content {
  margin: 20px 0;
}

.page-content h2,
.page-content h3 {
  margin: 20px 0;
}

.page-content h2 {
  font-size: 40px;
}

.page-content h3 {
  font-size: 25px;
}

@media (max-width: 960px) {
  .logos-small {
    display: block;
    margin: auto;
  }
  .logos {
    display: none;
  }
}

@media (max-width: 500px) {
  h1,
  h2 {
    text-align: center;
  }
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #54C580;
}

.nav-links {
  width: 100%;
  left: 48px;
  background-color: #54C580;
  display: none;
  margin: 0;
} 

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #54C580;
  color: #DED1DA;
  border-radius: .5em;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }


  .hamburger {
    display: none;
  }
}
