---

---
<style>
  div > a {
    color: #57C97F;
  }

  .nav-links a:hover {
    background-color: #63776C;
    color: #DED1DA;
  }
</style>
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <a href="/tags">Tags</a>
</div>