---
const { platform, username } = Astro.props;
---

<style>
  a {
    color: #54C580;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: .5em;
  }

  a:hover {
    background-color: #54C580;
    color: #fff;
    border-radius: .5em;
    }
</style>

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>
